<section class="content">
  <div class="col-md-4">
    <p>&nbsp;</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h1>New Board</h1>

      <%= render 'form', board: @board %>
      <br>
      <%= link_to 'Back', boards_path %>

    </div>
    <div class="col-md-4">
      <p>&nbsp;</p>
    </div>
  </div>
</section>