<section class="content">
  <div class="row">
    <div class="col-md-4">
      <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
      <h1>Editing Card</h1>
      <%= render 'form', card: @card %>
    </div>
    <div class="col-md-4">
      <p>&nbsp;</p>
    </div>
  </div>
</section>